<div class="col-md-6 px-2">
    <div class="shadow rounded p-5">
        <form method="POST">
            <div class="mb-3">
                <label for="titleBook" class="form-label">Название книги</label>
                <input type="text" class="form-control" id="titleBook" placeholder="Преступление н наказание" value="">
            </div>
            <div class="mb-3">
                <label for="authorsBook" class="form-label">Автор</label>
                <input type="text" class="form-control" id="authorsBook" placeholder="Ф.М. Достоевский">
            </div>
            <div class="mb-3">
                <label for="favoriteBook" class="form-label">Избранное</label>
                <select class="form-select form-control" id="favoriteBook">
                    <option value="false">Нет</option>
                    <option value="true">Да</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="fileCoverBook" class="form-label">Изображение обложки 600 x 300 px (ссылка)</label>
                <input type="url" class="form-control" id="fileCoverBook" placeholder="https://dummyimage.com/600x300/555/fff">
            </div>
            <div class="mb-3">
                <label for="fileNameBook" class="form-label">Издатель</label>
                <input type="text" class="form-control" id="fileNameBook" placeholder="Печатный дом">
            </div>
            <div class="mb-3">
                <label for="descriptionBook" class="form-label">Описание</label>
                <textarea class="form-control" id="descriptionBook" rows="3"
                    placeholder="Мрачная психологическая драма Ф.М. Достоевского."></textarea>
            </div>
            <div class="mb-3">
                <label for="fileBookBook" class="form-label">Файл электронной книги</label>
                <input type="file" class="form-control" id="fileBookBook" placeholder="">
            </div>

            <button type="submit" class="btn btn-secondary w-50">Отправить</button>
        </form>
    </div>
</div>

