<nav class="nav bg-secondary">
    <a class="nav-link link-light" href="/"><i class="bi bi-house"></i> Главная</a>
    <a class="nav-link link-light" href="/catalog"><i class="bi bi-book"></i> Библиотека</a>
</nav>