<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Описание</th>
                    <th scope="col">По умоланию</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>id</td>
                    <td>id генерируется uuid</td>
                    <td>random</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>title</td>
                    <td>Название книги</td>
                    <td>title Book</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>description</td>
                    <td>Описание</td>
                    <td>description Book</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>authors</td>
                    <td>Автор</td>
                    <td>authors Book</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>favorite</td>
                    <td>Избранное</td>
                    <td>favorite Book</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>fileCover</td>
                    <td>Изображение обложки</td>
                    <td>fileCover Book</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>fileName</td>
                    <td>Издатель</td>
                    <td>fileName Book</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>fileBook</td>
                    <td>Файл электронной книги</td>
                    <td>fileBook Book</td>
                  </tr>                 
                </tbody>
              </table>
        </div>
    </div>
</div>